  <div class="row">      
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <div class="main-image img-responsive" *ngIf="show_all; else elseBlock1">
          Showing this
          <div style="display: block">
            <canvas baseChart
                    [data]="pieChart.data"
                    [labels]="pieChart.labels"
                    [chartType]="pieChart.type"
                    [options]="pieChart.options"
                    [legend]="pieChart.legend">
            </canvas>
          </div>
        </div>
        <ng-template #elseBlock1><mat-progress-bar mode="indeterminate"></mat-progress-bar></ng-template>
        <mat-card-content>
          <p>
            In this section we present the description statistics of all the major sectors avaiable in
            the market.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    <mat-card class="long-card ml-3">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Graph1</mat-card-title>
            <mat-card-subtitle>Graph Description</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content flex>
            <mat-tab-group mat-stretch-tabs backgroundColor="accent">
                <mat-tab *ngFor="let sec of sectorArray" [label]="sec.id">Content {{sec.id}}                  
                </mat-tab>
            </mat-tab-group>
            <div class="d-flex justify-content-end">
                <mat-card-actions>
                <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" class="mr-auto">
                    <mat-button-toggle value="bold" [checked]="true">Price</mat-button-toggle>
                    <mat-button-toggle value="italic">Quantity</mat-button-toggle>
                    <mat-button-toggle value="underline">Volume</mat-button-toggle>
                </mat-button-toggle-group>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
  </div>

  <!--Individual Sectors-->
  <div *ngFor="let item of sectorArray;index as i">
    <mat-list>
      <mat-list-item>{{item.id | uppercase}}</mat-list-item>
      <mat-divider></mat-divider>      
    </mat-list>
    <div class="row">
      <mat-card class="long-card">
        <mat-card-header>
          <mat-card-title>Best in the Sector</mat-card-title>
          <mat-card-subtitle>Top 5 Companies</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-table [dataSource]="item.datasource" class="topMargin">
            <!-- ID Column -->
            <ng-container matColumnDef="ID">
              <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ID}} </mat-cell>
            </ng-container>
          
            <!-- Company Column -->
            <ng-container matColumnDef="Company">
              <mat-header-cell *matHeaderCellDef> Company Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Company}} </mat-cell>
            </ng-container>
          
            <!-- Year of Inception Column -->
            <ng-container matColumnDef="YearOfInception">
              <mat-header-cell *matHeaderCellDef> Year of Inception </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.YearOfInception}} </mat-cell>
            </ng-container>          
            <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card ml-3">
        <mat-card-header>
          <mat-card-title>Facts About the Sector</mat-card-title>
          <mat-card-subtitle>Some Spice</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-table [dataSource]="item.avgStat" class="topMargin">
            <!-- ID Column -->
            <ng-container matColumnDef="parameter">
              <mat-header-cell *matHeaderCellDef> Parameter </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.parameter}} </mat-cell>
            </ng-container>
          
            <!-- Company Column -->
            <ng-container matColumnDef="value">
              <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
            </ng-container>                 
            <mat-header-row *matHeaderRowDef="displayedColumns2" ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
          </mat-table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>