<h1>Bucket Maker</h1>
<h2> View-Add-Delete Buckets</h2>
<ng-container *ngIf="showBucket; else elseblock1">
<mat-accordion>
    <div *ngFor="let b of myBuckets;index as i">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{b.name}}
          </mat-panel-title>
          <mat-panel-description>
            Stonks            
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <mat-table [dataSource]="b.bucketList" class="mat-elevation-z8">
              <!-- ID Column -->
              <ng-container matColumnDef="ID">
                <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>
            
              <!-- Company Column -->
              <ng-container matColumnDef="Company">
                <mat-header-cell *matHeaderCellDef> Company Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.cname}} </mat-cell>
              </ng-container>
            
              <!-- Year of Inception Column -->
              <ng-container matColumnDef="Quantity">
                <mat-header-cell *matHeaderCellDef> Units of Stock </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.qty}} </mat-cell>
              </ng-container>          
              <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
        <button mat-raised-button class="btn-danger" (click)="DeleteBucket(i)" style="margin-top: 20px;"><mat-icon>close</mat-icon>Delete this bucket</button>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</ng-container>
<ng-template #elseblock1>
  <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>
  <br>
  <br>
  <button  *ngIf="!newB" mat-raised-button class="btn-block" color="accent" (click)="showAnotherBucket()">Add another Bucket</button>
  <button  *ngIf="newB" mat-raised-button class="btn-danger btn-block"  (click)="showAnotherBucket()">Cancel</button>


<ng-container *ngIf="newB">
  <mat-form-field appearance="legacy">
    <mat-label>Bucket Name</mat-label>
    <input matInput placeholder="Enter The Bucket name" [(ngModel)]="newBucket.name">
  </mat-form-field>
  <div>
    <mat-table #table [dataSource]="datS">
        <!-- ID Column -->
        <ng-container matColumnDef="ID">
          <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>  
        
        
      
        <!-- Year of Inception Column -->
        <ng-container matColumnDef="Quantity">
          <mat-header-cell *matHeaderCellDef> Units of Stock </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.qty}} </mat-cell>
        </ng-container>          
        <mat-header-row *matHeaderRowDef="displayedCol" ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedCol;"></mat-row>
      </mat-table>
  </div>

</ng-container>

<ng-container *ngIf="newB">
  <div>
  <form [hidden]="!newB" class="example-form">    
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Select Stock" aria-label="Number" matInput
             [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="selectedStock" name="stock-code">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="end-btn">
      <mat-label>Qty</mat-label>
      <input type="number" min="0" matInput [(ngModel)]="selectedQty" name="stock-qty">
    </mat-form-field>
    <button mat-raised-button class="btn btn-dark" (click)="add_to_list()"><mat-icon>add</mat-icon> Add</button>
    <button mat-raised-button *ngIf="newBucket.bucketList.length>0" [disabled]="newBucket.name==''" class="btn-success btn-block" (click)="submitBucket()"> Submit</button>
  </form>
</div>
</ng-container>
  
  